@CHARSET "UTF-8";
  
 body{position:relative;}
.bottom-menu-inverse{background-color:#141d26;color:#4f565c;height:50px;position:absolute; bottom:0; width:100%;overflow:hidden;}

.bottom-menu-inverse .creditfoot{width:600px;margin:0 auto;}
.bottom-menu-inverse .creditfoot li{float:left;clear:right;list-style:none;text-align:center;padding:0 20px;line-height:50px;font-size:14px;display:block;}
